{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Legal Lite</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{% static '/fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome5-overrides.min.css'%}">
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
</head>

<body>
    {% block content %}
    
    {% endblock %}

    	<script>
		document.body.addEventListener('htmx:configRequest', (event) => {
			event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
		})
	</script>

</body>
</html>
